.Nav {
    display: flex;
    justify-content:left;
    text-align: center;
    align-items: center;
    background-color: white;
}

.Nav h1 {
    /* margin-right: 10%; */
    color: rgba(19, 16, 16, 0.881);
    font-weight: 900;
}

.Nav img {
    width: 50px;
    margin: 1px;
}

.firebase {
    margin-left: 40%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

